{{>navbar}}

<body>
    <main>
        <!--Bienvenida-->
        <section id="inicio"
            class="bd w-100 vh-100 overflow-hidden d-flex flex-column justify-content-center align-items-center text-white fs-1">

            <h1 style="font-size: 1.5em;">Talentimetria</h1>
            <h2 style="font-size: 1.3em;">Ensayo</h2>
        </section>

        <!--Acerca de section-->
        <section id="about" class="w-100 vh-100 overflow-hidden  d-flex align-items-end text-white bd2 ">



            <div class="container text-center ">
                <div class="row justify-content-end">

                    <div class="col-6 col-sm-4 mb-5">

                        <h2 class="h2 mb-4 text-white">About</h2>
                        <p class="mb-4 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
                            molestiae vel quibusdam dolores nihil, non voluptatem possimus quisquam alias omnis nemo
                            inventore sit voluptas facilis rerum commodi corporis itaque. Omnis!</p>
                    </div>
                </div>
            </div>

        </section>


        <!--Como section-->
        <section id="como" class="w-100 vh-100 overflow-hidden  d-flex align-items-end text-white bd3 ">



            <div class="container text-center ">
                <div class="row justify-content-start">

                    <div class="col-6 col-sm-4  mb-5">

                        <h2 class="h2 mb-4 text-white">ABout</h2>
                        <p class="mb-4 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
                            molestiae vel quibusdam dolores nihil, non voluptatem possimus quisquam alias omnis nemo
                            inventore sit voluptas facilis rerum commodi corporis itaque. Omnis!</p>
                    </div>
                    <div class="col-6 col-sm-8 text-end p-5 mt-5">
                        <a href="/user/plan"><button class="btn btn-primary">Comenzar</button></a>
                    </div>

                </div>

            </div>

        </section>

    </main>
</body>